.input-with-button-container {
  align-items: center;
  display: flex;
}

.input-with-button-input {
  flex-grow: 1;
}

.select-setting-container {
  display: flex;
}

.select-setting-item {
  margin: 2px;
  width: 50%;
}

.select-setting-span {
  font-size: 12px;
}

.settings {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 8px;
  position: absolute;
  width: 240px;
  z-index: 2147483647;
}

.settings-active {
  display: block;
}

.settings-bottom {
  bottom: 0;
  right: 0;
  transform: translateY(100%);
}

.settings-left {
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
}

.settings-right {
  right: 0;
  top: 0;
  transform: translateX(100%);
}

.settings-top {
  top: 0;
  left: 0;
  transform: translateY(-100%);
}
